<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <div class="row my-2">
            <div class="col-lg-8 col-sm-12 d-flex">
                <div class="col-lg-3 col-sm-3">
                    <img src="https://res.cloudinary.com/dpghf08pr/image/upload/c_thumb,w_80,g_face/v1661885348/UNHAS-SISTA/WEB-RESOURCE/Universitas_Hasanuddin_Official_Logo_bf63rx.png"
                        alt="" class="img-fluid mx-auto d-block logo-icon">
                </div>
                <div class="col-lg-3 col-sm-3">
                    <img src="https://res.cloudinary.com/dpghf08pr/image/upload/c_thumb,w_174,g_face/v1661885347/UNHAS-SISTA/WEB-RESOURCE/Asean_University_Network_tehzwl.png"
                        alt="" class="img-fluid mx-auto d-block logo-icon">
                </div>
                <div class="col-lg-3 col-sm-3">
                    <img src="https://res.cloudinary.com/dpghf08pr/image/upload/c_thumb,w_140,g_face/v1661885346/UNHAS-SISTA/WEB-RESOURCE/ABEST21_ggxaly.png"
                        alt="" class="img-fluid mx-auto d-block logo-icon">
                </div>
                <div class="col-lg-3 col-sm-3">
                    <img src="https://res.cloudinary.com/dpghf08pr/image/upload/c_thumb,w_46,g_face/v1661885345/UNHAS-SISTA/WEB-RESOURCE/ISO_9001_Quality_g5goh3.png"
                        alt="" class="img-fluid mx-auto d-block logo-icon">
                </div>
                <div class="col-lg-3 col-sm-3">
                    <img src="https://res.cloudinary.com/dpghf08pr/image/upload/c_thumb,w_180,g_face/v1661885346/UNHAS-SISTA/WEB-RESOURCE/Asean_University_Network_-_Quality_Assurance_e7rp7x.png"
                        alt="" class="img-fluid mx-auto d-block logo-icon">
                </div>
                <div class="col-lg-3 col-sm-3">
                    <img src="https://res.cloudinary.com/dpghf08pr/image/upload/c_thumb,w_140,g_face/v1661885345/UNHAS-SISTA/WEB-RESOURCE/FIBAA_qi7y3q.png"
                        alt="" class="img-fluid mx-auto d-block logo-icon">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-12 ms-5">
                <span class="text-muted">SISTA | Sistem Superivisi Tugas Akhir</span><br>
                <span class="text-muted"><sub>BY FAKULTAS EKONOMI DAN BISNIS - UNIVERSITAS HASANUDDIN</sub></span>
            </div>
        </div>
    </div>
</footer>