<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark ">
    <div class="container">
        <a class="navbar-brand" href="/lecturer">SISTA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link" href="/lecturer">DASHBOARD</a>
                <a class="nav-link" href="/lecturer/students">MY STUDENTS</a>
                <div class="dropdown mt-1 ms-2">
                    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        INBOX
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/lecturer/inbox">Assignments</a></li>
                        <li><a class="dropdown-item" href="/lecturer/inbox-loa">Letters of Approval</a></li>
                    </ul>
                </div>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link me-3" href="/lecturer/setting">SETTINGS</a>
                <a class="nav-link" href="/logout-lecturer">LOGOUT</a>
            </div>
        </div>
    </div>
</nav>