<% layout("layouts/boilerplateStudents") %>

    <div class="page-header mb-5">
        <h1 class="page-title">
            Phase Select
        </h1>
        <a href="/student" class="btn btn-sm btn-secondary mb-2">&larr; Previous Page</a>
    </div>
    <div class="row justify-content-center">

        <div class="col-md-5">
            <div class="card shadow phase-card">
                <div class="card-header text-center fw-bold">
                    PHASE 1 | PROPOSAL
                </div>
                <div class="card-body">
                    <p class="card-text">Select phase 1 to work on these chapter:</p>
                    <ul>
                        <li>
                            Chapter 1 - Introduction
                        </li>
                        <li>
                            Chapter 2 - Review of the Literature
                        </li>
                        <li>
                            Chapter 3 - Methods
                        </li>
                    </ul>
                    <sub class="fw-semibold phase-footer">*For students who just started working on their final project,
                        must choose
                        this option</sub>
                </div>
                <div class="card-footer text-muted text-end">
                    <a class="btn btn-secondary" href="/student/assignment/phase1/add-assignment">Select</a>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="card shadow phase-card">
                <div class="card-header text-center fw-bold">
                    PHASE 2 | RESULT
                </div>
                <div class="card-body">
                    <p class="card-text">Select phase 2 to work on these chapter:</p>
                    <ul>
                        <li>
                            Chapter 1 - Introduction
                        </li>
                        <li>
                            Chapter 2 - Review of the Literature
                        </li>
                        <li>
                            Chapter 3 - Methods
                        </li>
                        <li>
                            Chapter 4 - Results
                        </li>
                        <li>
                            Chapter 5 - Discussion
                        </li>
                    </ul>
                    <sub class="fw-semibold">*For students who have done phase 1 and are cleared to move to phase 2 by
                        their lecturers</sub>
                </div>
                <div class="card-footer text-muted text-end">
                    <a class="btn btn-secondary" href="/student/assignment/phase2/add-assignment">Select</a>
                </div>
            </div>
        </div>
    </div>
    </div>