<% layout("layouts/boilerplateStudents") %>

    <h1 class="page-title">
        LETTER OF APPROVAL: <%= student.username %> | <%= student.name %>
    </h1>

    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow mb-3 py-2">
                <h2 class="ps-3">Add Your Letter Below</h2>
            </div>
            <div class="card shadow">
                <div class="card-body">
                    <form action="/student/loa" method="POST" class="validated-form" enctype="multipart/form-data"
                        novalidate>
                        <div class="mb-3">
                            <label for="file" class="form-label h5">Add a PDF</label>
                            <input class="form-control" type="file" id="file" name="file" required>
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-secondary">Send Letter of Approval</button>
                        </div>
                    </form>
                    <a class="btn btn-sm btn-secondary mt-3 mx-3" href="/student">&larr;
                        Previous Page</a>
                </div>
            </div>
        </div>
    </div>