<% layout("layouts/boilerplateCovers") %>

    <h1 class="page-title display-2">ABOUT</h1>

    <div class="page-body mb-4">
        <h2>About SISTA - Sistem Supervisi Tugas Akhir</h2>

        <p>SISTA is a digital solution built through the initiative of the department of Economy and Business of
            Hasanuddin University, for one of the most important steps of students' education: completing the final
            assignment, which is essential for them to graduate
        </p>

        <p>
            We sought to ensure SISTA to be as user-friendly as possible, and we hope you will enjoy using it!
        </p>

        <h2>What SISTA Means for the University</h2>

        <p>
            Our expectation is that SISTA becomes a platform that is flexible, reliable, user-friendly and transparent
            for all users and a key role in supporting students and lecturers of Hasanuddin University in
            relation to the completion of the final assignment from 2022 onwards.
        </p>
    </div>