<% layout("layouts/boilerplateAdmins") %>

    <div class="container d-flex justify-content-center align-items-center my-5">
        <div class="row">
            <div class="col-md-6 col-xl-4">
                <div class="card shadow login-card">
                    <div class="login-logo">
                        <img class="card-img-top"
                            src="https://kompaspedia.kompas.id/wp-content/uploads/2020/08/logo_Universitas-Hasanudin.png"
                            alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="text-center">Change Password</h5>
                        <form action="/admin/setting/profile/edit-password?_method=PUT" method="POST"
                            class="mb-4 validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="old-password">OLD PASSWORD</label>
                                <input class="form-control" type="password" id="old-password"
                                    name="admin[oldPassword]" placeholder="OLD PASSWORD" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">NEW PASSWORD</label>
                                <input class="form-control" type="password" id="password" name="admin[newPassword]"
                                    placeholder="NEW PASSWORD" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <button class="btn btn-secondary btn-block">Change Password</button>
                        </form>
                        <a class="btn btn-sm btn-secondary mt-3" href="/admin/setting">&larr;
                            Previous Page</a>
                    </div>
                </div>
            </div>
        </div>