<% layout("layouts/boilerplateAdmins") %>

    <h1 class="page-title mb-4">
        NEW ADMIN
    </h1>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow mb-3 py-2">
                <h2 class="text-center mb-1">Add Admin Below</h2>
            </div>
            <div class="card shadow">
                <div class="card-body">
                    <form action="/admin/user-admins/add-admin" method="POST" novalidate class="validated-form">
                        <div class="mb-3">
                            <label for="username" class="form-label">NIP</label>
                            <input type="text" class="form-control" id="username" name="admin[username]"
                                placeholder="NIP">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="admin[name]" placeholder="Name">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail</label>
                            <input type="email" class="form-control" id="email" name="admin[email]"
                                placeholder="E-mail">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="department">Department</label>
                            <select class="form-select" id="department" name="admin[department]">
                                <option selected>Choose...</option>
                                <% for (let department of departments) { %>
                                    <option value="<%= department %>">
                                        <%= department %>
                                    </option>
                                    <% } %>
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="admin[password]"
                                placeholder="Password">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-secondary">Add Admin</button>
                        </div>
                    </form>
                    <a class="btn btn-sm btn-secondary mt-3" href="/admin/user-admins">&larr;
                        Previous Page</a>
                </div>
            </div>
        </div>
    </div>